<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 10</title>
</head>
<body>
    <h1>Hola Mundo!!!</h1>
    <h2><u>Equipo 1</u></h2>
    <ol>
        <li>Antonella Trinidad Almada</li>
        <li>José Ignacio Bullón</li>
        <li>José Alfredo Comba</li>
        <li>Isaías Pérez</li>
        <li>Rubén Pablo Giordano</li>
      </ol>
</body>
</html>